body {
    margin:0;
    display:flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(90deg, rgb(204, 112, 21),  rgba(231, 234, 232, 0.822), rgb(91, 160, 106))
}

.controls {
    margin-bottom: 20px;
    display: flex;
    gap: 10px;
}

.container {
    display: flex;
    height: 512px;
    width: 512px;
    flex-wrap: wrap;
    box-sizing: content-box;
    border: 2px solid;
}

.container div{
    box-sizing: border-box;
}

